.containerCategory {
  border: 1px solid red;
  padding-top: 750px;
}

.containerIconCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.tableCategory {
  width: 100%;
  border-collapse: collapse;
  background-color: #f3e8ff;
  border-radius: 8px;
  overflow: hidden;
}

.tableCategory thead {
  background-color: #7b2cbf;
  color: white;
}

.tableCategory th,
.tableCategory td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #d6b3ff;
}

.tableCategory tbody tr:hover {
  background-color: #e0c3fc;
}

.tableCategory td {
  color: #4a148c;
}

.tableCategory td svg {
  cursor: pointer;
  font-size: 18px;
  color: #7b2cbf;
  margin-right: 8px;
}

.tableCategory td svg:hover {
  color: #4a148c;
}
.form input {
  margin: 5px;
  padding: 8px;
  width: 200px;
}
