.expense-box {
  width: 80%;
  margin: auto;
  text-align: center;
}

.form input {
  margin: 5px;
  padding: 8px;
  width: 200px;
}

button {
  padding: 8px 12px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #c82333;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #ff6b6b;
  color: white;
}
